.aboutPicShield {
    width: 50vw;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.aboutLeft {
    margin: auto;
    justify-content: center;
    align-items:center;
}

.aboutRight{
    color: white;

}

h1{
    font-size: 60px;
}