.header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
}

.header_main_Menu {
    margin: auto;
}

.header_main_Menu a {
    color: white;
}


.header_logo_image {
    height: 10vmin;
}